
@{
    ViewData["Title"] = "ViewCarHistory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>View User History</h1>

<table class="table">
    <tr>
        <td>Id:</td>
    </tr>
    <tr>
        <td>HireTime:</td>
    </tr>
    <tr>
        <td>HireDuration:</td>
    </tr>
    <tr>
        <td>ReturnedTime:</td>
    </tr>
</table>
