@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the CarShare landing page!</h1>
    <p>Here you can find all sorts of information and pictures about why you should join CarShare!</p>
</div>
