@model CarShare.Models.Car
@{
    ViewData["Title"] = "ViewCar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit Car</h1>
<form asp-action="EditCar" asp-controller="Admin" autocomplete="off">
    @Html.HiddenFor(c => c.Id)
    <table class="table">
        <tr>
            <td><label asp-for="Registration"></label></td>
            <td><input asp-for="Registration" placeholder="@Model.Registration" class="form-control" /></td>
        </tr>
        <tr>
            <td><label asp-for="Description"></label></td>
            <td><input asp-for="Description" placeholder="@Model.Description" class="form-control" /></td>
        </tr>
        <tr>
            <td><label asp-for="Status"></label></td>
            <td><select asp-for="Status" asp-items="Html.GetEnumSelectList<CarStatus>()" class="form-control" ></select></td>
        </tr>
        <tr>
            <td><label asp-for="Category"></label></td>
            <td><select asp-for="Category" asp-items="Html.GetEnumSelectList<CarCategory>()" class="form-control"></select></td>
        </tr>
        <tr>
            <td><label asp-for="NumSeats"></label></td>
            <td><input asp-for="NumSeats" placeholder="4" class="form-control" /></td>
        </tr>
    </table>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>