
@{
    ViewData["Title"] = "ParkingLotManagement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Parking Lot Management</h1>

<table class="table">
    <tr>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Address</th>
        <th>Description</th>
        <th></th>
    </tr>
    @foreach (var c in ViewBag.UserList)
    {
        <tr class="click-row" data-href="ViewParkingLot?Id=@c.Id">
            <td class="td_cust">@c.Latitude</td>
            <td class="td_cust">@c.Longitude</td>
            <td class="td_cust">@c.Address</td>
            <td class="td_cust">@c.Description</td>
            <td class="td_cust"><a href="ViewParkingLot?Id=@c.Id">View</a></td>
        </tr>
    }
</table>