
@{
    ViewData["Title"] = "ParkingLotManagement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Parking Lot Management</h1>

<table class="table">
    <tr>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Address</th>
        <th>Description</th>
        <th></th>
    </tr>

