@model CarShare.Identity.Data.CarShareUser
@{
    ViewData["Title"] = "ViewUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ViewUser</h1>
@*Creates the ViewUser table for each user, visible when the administrator clicks the "View" button in the User Management table*@
<table class="table">
    <tr>
        <td>Email:</td>
        <td>@Model.Email</td>
    </tr>
    <tr>
        <td>Address:</td>
        <td>@Model.Address</td>
    </tr>
    <tr>
        <td>User Status:</td>
        <td>@Model.UserStatus</td>
    </tr>
</table>


