@model CarShare.Models.Car;
@{
    ViewData["Title"] = "AddCarHire";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Hire Car</h1>
@{
    // Here the initialization happens outside of the loop
    var i = 0;
}

<div>
    <form action="/Carhire/filter" method="POST">
        <table class="table">
            <tr>
                <th style="border-top:0px !important;">Vehicle Type</th>
                <th style="border-top:0px !important;">Seats </th>
                <th style="border-top:0px !important;">From </th>
                <th style="border-top:0px !important;">Until</th>
            </tr>
            <tr>
                <td style="border-top:0px !important;">
                    <select name="vehicle_type">
                        <option value=""></option>
                        <option value="1">Passenger </option>
                        <option value="2">Van </option>
                        <option value="3">Pickup </option>
                        <option value="4">Luxury </option>
                        <option value="5">Sport </option>
                    </select>

                </td>
                <td style="border-top:0px !important;">
                    <select name="num_seats">
                        <option value=""></option>
                        <option value="2" >2 </option>
                        <option value="3">3 </option>
                        <option value="4">4 </option>
                        <option value="5">5 </option>
                        <option value="6">6 </option>
                    </select>
                </td>
                <td style="border-top:0px !important;">
                    <input type="text" name="from_date" id="from_date">
                </td>
                <td style="border-top:0px !important;">
                    <input type="text" name="until_date" id="until_date">
                </td>

                <td  style="border-top:0px !important;">
                    <input class="btn btn-outline-primary"  type="submit" value="submit" />
                </td>
            </tr>

        </table>
    </form>
</div>


<table class="table" id="sortable">
    <tr>
        <th>Image</th>
        <th>Registration </th>
        <th>NumSeats </th>
        <th>location </th>
        <th>Distance </th>
        <th> </th>

    </tr>

    @foreach (var Cars in ViewBag.cars)
    {
        <tr class="sort">
            <td><img class="img mx-auto d-block" src=@ViewBag.imageUrl[i] alt=@ViewBag.imageTitle[i] style="width:400px; height:400px;" /></td>
            <td>@Cars.Registration </td>
            <td>@Cars.NumSeats </td>
            <td><div id="locid_@i" style="width:400px; height:400px;" class="map_holder"> ContentHERE</div> </td>
            <td>@ViewBag.distance[i] </td>
            <td><a asp-controller="Carhiredetails" asp-action="Index" asp-route-id="@Cars.Id"> Hire</a> </td>
        </tr>
        i++;
    }
</table>


<script>
    var map;
    $(document).ready(function () {
        $("#from_date").datepicker({ dateFormat: 'dd/mm/yy' });
        $("#until_date").datepicker({ dateFormat: 'dd/mm/yy' });

        //initMap();
    });

    function initMap() {
        var totalCar = $('.map_holder').length;

        for (i = 0; i < totalCar; i++) {
           var coordinate = { lat: -37.82, lng: 144.95 };
           // The map, centered at coordinate
           var map = new google.maps.Map(
              document.getElementById('locid_'+i), { zoom: 4, center: coordinate });
           // The marker, positioned at coordinate
           var marker = new google.maps.Marker({ position: coordinate, map: map });
       }
    }

    /*
     *
     *            var coordinate = { lat: -37.82, lng: 144.95 };
           // The map, centered at coordinate
           var map = new google.maps.Map(
              document.getElementById('locid_1'), { zoom: 4, center: coordinate });
           // The marker, positioned at coordinate
           var marker = new google.maps.Marker({ position: coordinate, map: map });
    function initMap() {
      map = new google.maps.Map(document.getElementById("locid_0"), {
        center: { lat: -34.397, lng: 150.644 },
        zoom: 8
      });
    }
    */

    function sortTable() {
        var rows = $('#sortable tbody  tr.sort').get();

        rows.sort(function (a, b) {

            var A = $(a).children('td').eq(3).text().toUpperCase();
            var B = $(b).children('td').eq(3).text().toUpperCase();

            if (A < B) {
                return -1;
            }

            if (A > B) {
                return 1;
            }

            return 0;

        });

        $.each(rows, function (index, row) {
            $('#sortable').children('tbody').append(row);
        });
    }

    $(document).ready(function () {
        //Sort table by distance
        sortTable();
    });




</script>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCpMBzIrXd_av3r74X_NcAXJ-DePpLGLcE&callback=initMap">

</script>


