@model CarShare.Models.Car;
@{
    ViewData["Title"] = "AddCarHire";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Car</h1>

<table class="table">
    <tr>
        <th>Registration </th>
        <th>Description </th>
        <th>Status </th>
        <th>Category</th>
        <th>NumSeats </th>
        <th>Longitude </th>
        <th>Latitude </th>
        <th><a href="">Hire </a> </th>
    </tr>

</table>
